/* CSS rules to specify families

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */



/*  CCS перемение*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --color-text-white: #ffffff 
}

body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}  

.list {
    list-style: none; 
    text-decoration: none;
   }

.title-studio.link:hover,
.title-studio.link:focus,
.site-nav.link:hover,
.site-nav.link:focus{
    color: #2196f3;
}
.auth-nav.link:hover,
.auth-nav.link:focus {
    color: #2196f3;
}

/* site nav */  
.title-web {
    font-family: 'Raleway', sans-serif;
    color:#2196F3;
    font-size: 26px;
    line-height: 1.192;
   
}

.title-studio {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 26px;
    line-height: 1.192;
    }

.site-nav .current,
.auth-nav.current{
    color: #2196F3;
    } 
.site-nav {
    color: #212121;
    font-weight: 500;
    line-height: 1.142;
    } 

.auth-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height:1.142;
   }

.hero-title {
    width: 136px;
    height: 30px;
    left: 732px;
    top: 440px;
    color: var(--color-text-white);
    font-size: 44px;
    font-weight: 900;
    line-height:1.363;
    text-align: center;
    text-transform: uppercase;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: rgba(47, 48, 58, 0.8);
    }
    
.baner {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 732px;
    top: 440px;    
    color: var(--color-text-white);  
    background-color: #2196F3;  
    font-size: 16px;
    line-height:1.875;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }

.btn-baner:hover,
.btn-baner:focus {
    color: var(--title-text-color);
    background-color: #ffffff;
    }
    /* Особености */

.feature > .title  {
    color: var(--title-text-color); 
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    }

.feature > .about {
    width: 270px;
    height: 75px;
    line-height: 1.714;
   }

.title-main {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    }

.box > .wwd {
    width: 370px;
    height: 70px; 
    line-height: 1.142;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text-white);
    background-color: rgba(47, 48, 58,0.8); 
}
/* Наша команда */

.team .team-name {
    color: var(--title-text-color);
    font-size:  16px;
    font-weight: 500;
    line-height: 1.187;
    }
.team .team-prof  {
    font-size: 16px;
    line-height: 1.187;
    }

/* footer */
footer {
    width: 1600px;
    height: 252px;
    left: 1px;
    background-color: #2F303A;
}
.footer-title {
    color: var(--color-text-white);
    line-height: 16px;
    letter-spacing: 1.142;
    font-weight: bold;
    text-transform: uppercase;
}
.street {
    color: var(--color-text-white);
    line-height: 24px;
    letter-spacing: 1.714;
    font-style: normal;
}
.address {
color: var(--primary-text-color);
line-height: 24px;
letter-spacing: 1.714;
font-style: normal;
}

/* CSS Portfolio */

.site-nav-portfolio {
    color: #212121;
    font-weight: 500;
    font-weight: 14px;
    line-height: 1.142x;
    }

.site-nav-portfolio.link:hover,
.site-nav-portfolio.link:focus {
    color: #2196f3;
}    
.filtr {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    background-color: #F5F4FA;;
   }
.btn:hover,
.btn:focus {
    color: var(--color-text-white);
    background-color: #2196F3;
}

.project-title {
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    }
.project-filtr {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.875;
    }

.projectr-about {
    color: var(--color-text-white);
    font-size: 18px;
    line-height: 1.5;
    background-color: #2196F3;
    width: 370px;
}